%header.navigation
  %a{class: "navigation__trigger #{@navigation_state}", href: "#"}
    .icon.icon--menu
    .icon.icon--plus-sign
  %nav.navigation__drawer{ class: @navigation_state }
    %ul
      - if !admin_signed_in?
        %li
          = link_to "View Site",
            root_path,
            class: "navigation__link"
      - else
        %li
          = link_to "View Site",
            root_path,
            class: "navigation__link"
        %li
          = link_to "Edit Posts",
            admins_posts_path, 
            class: "navigation__link"
        %li
          = link_to "Account Settings",
            edit_admin_registration_path,
            class: "navigation__link"
        %li
          = link_to "Logout", 
            destroy_admin_session_path, 
            method: :delete,
            class: "navigation__link"
