= render "hero"

%main.layout
  %section.content
    %h1
      = t(".heading")

    %ul.works-list
      %li.work
        = link_to("http://prefab-patterns-marketplace.herokuapp.com", target: "_blank") do
          = image_tag "work/prefab-landing-page.png"
      %li.work
        = link_to("https://github.com/jasonramirez/prefab-patterns", target: "_blank") do
          = image_tag "work/prefab-gem.png"
