%main
  .layout-hero--cover
    .hero-intro
      = image_tag "whoa.svg", class: "logo"
      %span.hero-text 
        Design Experiments &amp; Findings
      %form
        %input.hero-search{ type: "text" }

  %section.posts
    %ul
    - @posts.each do |post|
      %li
        %article
          = link_to post, class: "post__title" do
            %h2 
              = post.title
          = strip_tags(post.body.truncate(350))
          = link_to post, class: "read-more" do
            read more
