%main
  %section.hero-wrapper
    .hero-image-wrapper
      = image_tag @instagram, class: "hero-image"

    .hero-intro
      = image_tag "whoa.svg", class: "logo"
      %span.hero-text 
        Design Experiments &amp; Findings
      %form
        %input{type: "text"}

  %section.posts
    %ul
    - @posts.each do |post|
      %li
        %article
          %h2.title
            = link_to post.title, post
          = strip_tags(post.body.truncate(350))
          = link_to post, class: "read-more" do
            read more
