%main.layout
  .layout-hero--cover
    .hero-intro
      = image_tag "whoa.svg", class: "logo"
      %form
        %input.hero-search{ type: "text" }
    .hero-background

  %section.posts--list
    %ul
    - @posts.each do |post|
      %li
        %article
          = image_tag post.feature_image.url, class: "post__feature-thumbnail"
          = link_to post, class: "post__title" do
            %h2 
              = post.title
          = strip_tags(parse(post.body.truncate(350)))
          %div.post__read-more
            = link_to post, class: "button" do
              read more
