%main
  .layout-hero--cover
    .hero-intro
      = image_tag "whoa.svg", class: "logo"
      %span.hero-text 
        Design Experiments &amp; Findings
      %form
        %input.hero-search{ type: "text" }
    .hero-background

  %section.posts--list
    %ul
    - @posts.each do |post|
      %li
        %article
          .post__feature-thumbnail{ style: "background-image: asset-url(#{post.feature_image.url})" }
          = link_to post, class: "post__title" do
            %h2 
              = post.title
          = strip_tags(parse(post.body.truncate(350)))
          = link_to post, class: "read-more" do
            read more
