= simple_form_for [:admins, @post] do |f|
  %section.layout.edit-post
    %header.layout__content--centered
      = f.input :title, label: false, input_html: { class: "edit-post__title" }

      .edit-post__image
        = image_tag @post.feature_image.url
        = f.file_field :feature_image

      %aside.edit-post__meta
        = f.input :published, as: :select
        = f.input :published_at, as: :date
        = f.association :admin,
          value_method: :id,
          label_method: :email,
          label: "Author"
        = f.button :submit, class: "button"

  %section.layout.layout--white
    %article.layout__content--centered
      = f.input :body,
        label: false,
        input_html: { class: "edit-post__body", data: { "flexible-textarea" => true } }
      = f.button :submit, class: "button"
