%main.layout.layout--large
  %section.layout__section.posts
    %header.posts__header
      %h1
        All Posts
      = link_to new_admins_post_path, class: "button" do
        New Post
        %i.fa.fa-plus
    %table.posts-table
      %tr
        %th.posts-table__col
          Title
        %th.posts-table__col
          Published At
        %th.posts-table__col
          Published
        %th.posts-table__col
      - @posts.each do |post|
        - post = PostPresenter.new(post)
        %tr
          %td.posts-table__col
            = link_to edit_admins_post_path(post) do
              = post.title
          %td.posts-table__col
            = post.published_at_formatted
          %td.posts-table__col
            = post.published
          %td.posts-table__col
            = link_to 'Delete', admins_post_path(post),
              method: :delete,
              data: { confirm: 'Are you sure?' }
