%main.layout--medium
  %h1 New Post
  = link_to 'New Post', new_admins_post_path
  %hr
  %h1 All Posts
  %table.post-table
    %tr
      %th.post-table__col
        Title
      %th.post-table__col
        Published
      %th.post-table__col
      %th.post-table__col
    - @posts.each do |post|
      %tr
        %td.post-table__col
          = post.title
        %td.post-table__col
          = post.published
        %td.post-table__col
          = link_to 'Edit', edit_admins_post_path(post)
        %td.post-table__col
          = link_to 'Delete', admins_post_path(post),
            method: :delete,
            data: { confirm: 'Are you sure?' }
