<section class="post-form-wrapper">

  <div class="status">
    <button class="active" >Publish</button>
    <button>Draft</button>
  </div>

  <%= simple_form_for [:admin, @post] do |f| %>
    <%= f.input :status, as: :hidden %>
    <%= f.input :title, label: false, input_html: { class: 'title' } %>
    <hr/>
    <%= f.input :body, label: false, input_html: { class: 'wysiwyg' } %>
    <%= f.button :submit %>
  <% end %>
      
  <%= link_to 'Back', admin_posts_path %>
</section>
