%header
  %button.submit Save
  .status
    %button.active Publish
    %button Draft

%article.post
  = simple_form_for [:admin, @post] do |f|
    = f.input :status, as: :hidden
    = f.input :title, label: false, input_html: { class: 'title' }
    = f.input :body, label: false, input_html: { class: 'wysiwyg' }
    = f.button :submit
  = link_to 'Back', admin_posts_path
