%main.layout
  %article
    %header.layout__content--centered
      = image_tag @post.feature_image.url, class: "post__image"
      %h1.post__title.post__title--large
        = @post.title
      .post__byline
        = post_author_gravatar(@post)
        = post_author_full_name(@post, class: "post__byline__author")
        %small.post__byline__date
          = @post.published_at_fulldate
    %section.layout__content--centered
      .post__body.post__body--full
        = preserve do
          = raw @post.body_as_string
