%main.layout.layout--large
  %article.post
    .post__image-wrapper
      = image_tag @post.feature_image.url, class: "post__image"
    %h1.post__title.post__title--large
      = @post.title
    .post__byline
      = post_author_gravatar(@post)
      .post__byline__author
        = "By #{@post.author_full_name}"
      .post__byline__date
        = @post.published_at_fulldate
    .post__body.post__body--full
      = preserve do
        = raw @post.body_as_string
