.layout.layout-hero--cover
  .hero-intro
    = image_tag "whoa.svg", class: "logo"
    .hero-intro__links
      = link_to "words", posts_path,
          class: "button button--hero #{active_words_link}"
      = link_to "works", works_path,
          class: "button button--hero #{active_works_link}"
  .hero-background
