%header.navigation
  %a{class: "navigation__trigger", href: "#"}
    = inline_svg "icon-menu.svg", class: "menu"
    = inline_svg "icon-close.svg", class: "close"
    %span
      Menu
  %nav.navigation__drawer
    %ul
      %li
        = link_to "Words",
            posts_path,
            anchor: "words",
            class: "navigation__link"
      %li
        = link_to "Works",
            works_path,
            anchor: "words",
            class: "navigation__link"

      - if admin_signed_in?
        %li
          = link_to "Edit Posts",
            admins_posts_path,
            class: "navigation__link"
        %li
          = link_to "Account Settings",
            edit_admin_registration_path,
            class: "navigation__link"
        %li
          = link_to "Logout",
            destroy_admin_session_path,
            method: :delete,
            class: "navigation__link"
